@require "../var/color.styl"
@require "../var/size.styl"
@require "../var/box-shadow.styl"
@require "../ui/form.styl"
*
  box-sizing border-box
html
  font-family $f-family
  // background $c-background