@require "../var/color.styl"
@require "../var/size.styl"
@require "../var/box-shadow.styl"
@require "../ui/form.styl"
*
  box-sizing border-box
html,body
  font-family $f-family
  background $c-background
  color $c-dark-grey


  /*color*/
  .color-orange
    color $c-orange
  /*End color*/