// color vars
//// basic
$c-background = #F1F1F1
$c-white = #fff

//// gray
$c-dark-grey = #333
$c-grey = #666
$c-light-grey = #999
$c-light-grey-s = #ccc
$c-light-grey-ss = #eee
$c-light-grey-sss = #fcfcfc
$c-active-grey = #e8e8e8

$c-dark-grey-opacity = rgba(74, 76, 91, 0.8)
$c-grey-opacity = rgba(0, 0, 0, .08)
$c-light-grey-opacity = rgba(0, 0, 0, .04)

//// orange
$c-dark-orange = #e8864c
$c-orange = #fc9153
$c-light-orange = #fdc2a5
$c-orange-opacity = rgba(252, 145, 83, .08)
$c-light-orange-opacity = rgba(252, 145, 83, .04)

//// blue
$c-dark-blue-ss = #25252F
$c-blue = #444654

//// row line
$c-row-line = #ebebeb

/// mask
$c-mask-bg = rgba(37, 38, 45, .4)
