// font-size vars
$f-large-xxxx = 30px
$f-large-xxx = 24px
$f-large-xx = 20px
$f-large-x = 18px
$f-large = 16px
$f-medium = 14px
$f-small = 12px
$f-small-s = 10px

// radius-size
$r-size-medium = 5px
$r-size-btn = 5px
$r-size-btn-circle = 50px

// font-family
$f-family= 'PingFang SC', "Microsoft YaHei", 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
$f-family-number= arial,'Hiragino Sans GB',"\5b8b\4f53",sans-serif