// font-size vars
$f-large-xxxx = 1.875rem     //30px
$f-large-xxx = 1.5rem        //24px
$f-large-xx = 1.25rem        //20px
$f-large-x = 1.125rem        //18px
$f-large = 1rem              //16px
$f-medium = 0.875rem         //14px
$f-small = 0.75rem           //12px
$f-small-s = 0.625rem        //10px

// radius-size
$radius-size-medium = 5px

// font-family